{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="row mt-4 mb-3">
        <div class="col-lg-3 mx-auto">
            <h1 class="h3 mb-3 font-weight-normal">Zarejestruj się</h1>
            {{ form_start(registrationForm) }}
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {
                    'attr': {'class': 'form-control'}
                }) }}
                <br>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Hasło',
                    'attr': {'class': 'form-control'}
                }) }}
                <br>
                <button class="btn btn-lg btn-primary" type="submit">
                    Zarejestruj się
                </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
